.attendees{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.attendee{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.attendee .attendeeCard{
    border-radius: 4px;
}

.attendee .attendeeCard header{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height: 50px;
    color: white;
}

.attendee .attendeeCard main{
    height: 125px;
    color: black;
    text-align: center;
    margin: auto;
    background-color: white;
}

.attendee .attendeeCard footer{
    min-height: 25px;
}

.removeBtn{
    padding-top: 5px;
}